@font-face {
	font-family: 'Bebas Neue';
	src: url('font/Bebas Neue.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

body {
	background-color: black;
	color: white;
}

.container {
	max-width: 1640px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	width: 300px;
	height: 75px;
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 75px;
	cursor: pointer;
	text-align: center;
	background: transparent;
	text-transform: uppercase;
}

.btn-blue {
	background: linear-gradient(270deg, #004aad 0%, #26a9e0 99.99%, #26a9e0 100%);
	border-radius: 40px;
}

.btn-trp {
	border: 1px solid #26a9e0;
	border-radius: 40px;
}

.gradient1 {
	height: 800px;
	background-image: url(img/градиент.png);
	background-repeat: no-repeat;
}

.text-bg {
	display: inline-block;
	width: 130px;
	height: 80px;
	background: #26a9e0;
	padding: 10px 8px;
}

.title {
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.03em;
}

/* Hero */

.hero {
	height: 862px;
}

.hero .container {
	background: url('img/картинка.png') center right no-repeat;
}

.header {
	height: 112px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.buttons {
	display: flex;
	gap: 30px;
}

.header .buttons .btn {
	font-size: 24px;
	line-height: 50px;
}

.header .buttons .btn-blue {
	width: 130px;
	height: 50px;
}

.header .buttons .btn-trp {
	width: 175px;
	height: 50px;
}

.burger-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 2;
	overflow: hidden;
	cursor: pointer;
	display: none;
}

.burger-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}

.burger-btn span:nth-of-type(2) {
	top: calc(50% - 8px);
}

.burger-btn span:nth-of-type(3) {
	top: calc(50% + 8px);
}

.burger-btn.active span:nth-of-type(1) {
	display: none;
}

.burger-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.burger-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

.mobile-menu {
	margin-top: 20px;
	padding: 0 20px;
	position: fixed;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 15px;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(-110px);
	transition: all 0.3s ease;
	background-color: transparent;
}

.mobile-menu.active {
	transform: translateY(100px);
}

.mobile-menu .btn {
	font-size: 24px;
	line-height: 50px;
}

.mobile-menu .btn-blue {
	width: 130px;
	height: 50px;
}

.mobile-menu .btn-trp {
	width: 175px;
	height: 50px;
}

.hero__wrapper {
	padding-top: 117px;
	padding-left: 100px;
}

.hero__title {
	margin-bottom: 33px;
}

.hero__title,
.hero__title .text-bg {
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 70px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.hero__description {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
}

.hero__description:not(:last-child) {
	margin-bottom: 13px;
}

.hero__description:last-child {
	margin-bottom: 66px;
}

/* Usage */

.usage {
	height: 800px;
	padding-top: 48px;
	padding-bottom: 136px;
}

.usage .text-bg {
	width: 120px;
	height: 65px;
}

.cards {
	margin-top: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	background: url('img/usage-background.png') center/contain no-repeat;
	background-position-y: -50px;
	gap: 30px;
}

.card {
	height: 421px;
	width: 380px;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	border-top: 1px solid rgba(38, 169, 224, 1);
	border-left: 1px solid rgba(38, 169, 224, 1);
	border-right: 1px solid rgba(0, 74, 173, 1);
	border-bottom: 1px solid rgba(0, 74, 173, 1);
}

.card > * {
	font-style: normal;
	font-weight: 400;
}

.card-title {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin: 30px 0;
	text-transform: uppercase;
}

.card-description {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	width: 100%;
}

/* Adaptive */

@media screen and (max-width: 1200px) {
	.container {
		max-width: 1024px;
	}

	.title {
		font-size: 28px;
		line-height: 28px;
	}

	.title .text-bg {
		width: 80px;
		height: 45px;
	}

	.hero__wrapper {
		padding-left: 0;
	}

	.hero .container {
		background-size: 500px;
	}

	.hero__title {
		font-size: 35px;
		line-height: 35px;
	}

	.hero__title .text-bg {
		font-size: 35px;
		line-height: 35px;
		width: 70px;
		height: 45px;
	}

	.hero__description {
		font-size: 16px;
		line-height: 22px;
	}

	.hero .hero__wrapper .buttons {
		flex-direction: column;
	}

	.hero .btn {
		width: 250px;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
	}

	.usage {
		height: 1405px;
	}

	.cards {
		width: 100%;
		height: 400px;
		flex-direction: column;
		gap: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	.card {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 50px;
	}

	.card-title {
		font-size: 20px;
		line-height: 20px;
	}

	.card-description {
		font-size: 14px;
		line-height: 19px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 850px;
	}

	.header .buttons .btn {
		display: none;
	}

	.gradient1 {
		background-image: none;
	}

	.burger-btn {
		display: block;
	}
}
